<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <css th:include="common/css :: css"></css>
</head>
<body>
<div th:fragment="header(title)">
    <header id="header" class="skel-layers-fixed">
        <h1><a href="/index.html">Leave <span> Management System</span></a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/leaveHistory/list">Leave History List</a></li>
                <li><a href="/employee/emp.html">Employee List</a></li>
                <li>
                    <a href="" class="icon fa-angle-down">Create/Add</a>
                    <ul>
                        <li><a href="/leaveHistory/create?form">Create Leave</a></li>
                        <li><a href="/employee/create?form">Create Employee</a></li>
                        <li><a href="/holidayLeave/leaveList">Create/Add Annual Leave</a></li>
                        <li><a href="/compensation/add?form">Add Compensation Day</a></li>
                    </ul>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                    <li> <a href="/logout"> Logout </a></li>
                </th:block>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>