<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<js th:fragment="js">

    <!--[if lte IE 8]><script type="text/javascript" src="css/ie/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dropotron.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollgress.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrolly.min.js"></script>
    <script type="text/javascript" src="/js/jquery.slidertron.min.js"></script>
    <script type="text/javascript" src="/js/skel.min.js"></script>
    <script type="text/javascript" src="/js/skel-layers.min.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
</js>
</body>
</html>