 <!DOCTYPE HTML>
 <html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 <head>
     <title> </title>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <meta name="description" content="" />
     <meta name="keywords" content="" />
     <js th:include="common/js :: js"></js>
     <noscript>
         <css th:include="common/css :: css"></css>
     </noscript>
 </head>
 <body>
 <header th:include="common/header :: header('Head')"></header>
 <section id="main" class="wrapper style1">
     <header class="major">
         <h2>Sign Up</h2>
     </header>
     <div class="container">
         <section id="content">
             <form th:action="@{/user/add}" th:object="${userAddForm}" method="post">
                     <p>
                     <div class="form-group mt20 mb10" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                         <label>Username</label>
                         <input type="text" class="form-control col-4" th:field="*{username}" />
                     </div>
                     <span th:if="*{#fields.hasErrors('username')}" th:errors="*{username}" class="help-block">error!</span>
                     </p>
                     <p>
                     <div class= " form-group mt20 mb10 " th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                         <label> Email </label>
                         <input type="text" class="form-control col-4" th:field="*{email}" />
                     </div>
                     <span th:if="*{#fields.hasErrors('email')}" th:errors="*{email}" class="help-block">error!</span>
                     </p>
                     <p>
                     <div class="form-group mt20 mb10" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                         <label>Password</label>
                         <input type="password" class="form-control col-4" th:field="*{password}" />
                     </div>
                     <span th:if="*{#fields.hasErrors('password')}" th:errors="*{password}" class="help-block">error!</span>
                     </p>
                 <div class="form-group mt20 mb10">
                     <label for="roleId" class="col-2 col-form-label"> Role Of Account </label>
                     <div class = "col-4" align="left">
                         <select id="roleId" th:field="*{roleId}" >
                             <option th:each="role:${roleList}" class="form-control" th:value="${role.roleId}" th:text="${role.roleName}">AAA</option>
                         </select>
                     </div>
                 </div>
                 <br>
                     <p>
                         <button class="btn btn-primary btn-lg" type="submit" name="submit" value="Create my account" >Create my account</button>
                 </p>
             </form>
 </section>
 </div>
 </section>
 <footer id="footer">
	<span class="copyright"> ||||||||||| Leave Management System ||||||||||| </span>
 </footer>
<script>
</script>
 </body>
 </html>