<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<js th:include="common/js :: js"></js>
		<noscript>

			<css th:include="common/css :: css"></css>
		</noscript>

	</head>
	<body class="landing">


		<header th:include="common/header :: header('Head')"></header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Magna Aliquam</h2>
					<p>Sed lorem ipsum sed dolor nullam adipiscing</p>
					<ul class="actions">
						<li><a href="#one" class="button big scrolly">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">


					</header>

				</div>
			</section>
			

			

			
		<!-- Footer -->
			<footer id="footer">

				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>

	</body>
</html>