<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title> </title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<js th:include="common/js :: js"></js>
	<noscript>
		<css th:include="common/css :: css"></css>
	</noscript>

<body>


<header th:include="common/header :: header('Head')"></header>

<!-- Main -->
<section id="main" class="wrapper style1">
	<header class="major">
		<h2>One</h2>
		<p>Faucibus neque adipiscing mi lorem semper blandit</p>
	</header>
	<div class="container">
		<!-- Content -->
		<section id="content">
			<table>
				<thead class="fcWhite baseBgcolor fwNomal">
				<tr>
					<th th:text="'No'">No</th>
					<th th:text="'Name'">Name</th>
					<th th:text="'Time'">Time</th>
					<th th:text="'Type'">Type</th>

				</tr>
				</thead>
				<tbody>
				<tr th:each="leaveHistory,index : ${leaveHistoryList}">
					<td th:text="${index.count}">No</td>
					<td th:text="${leaveHistory.employee.firstName} + ' ' + ${leaveHistory.employee.lastName}">Thymus Thymi</td>
					<td th:text="${#dates.format(leaveHistory.periodFrom, 'yyyy/MM/dd')}+' - '+${#dates.format(leaveHistory.periodUntil, 'yyyy/MM/dd')}">12</td>
					<td th:text="${leaveHistory.leaveType.categoryName}">32</td>
				</tr>
				</tbody>
			</table>
		</section>
	</div>
</section>
<!-- Footer -->
<footer id="footer">
	<span class="copyright">
			&copy; Copyright. All rights reserved. Template by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
	</span>
</footer>

</body>
</html>