<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title> </title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<js th:include="common/js :: js"></js>
	<noscript>
		<css th:include="common/css :: css"></css>
		<link rel="stylesheet" type="text/css" href="/css/style-xlarge.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
	</noscript>
</head>
<body>
<header th:include="common/header :: header('Head')"></header>
<!-- Main -->
<section id="main" class="wrapper style1">
	<header class="major">
		<h3>Leave History List</h3>
		<form th:action="@{/leaveHistory/list}" th:object="${leaveHistorySearch}" method="post" class="form-horizontal form-width120 ml15" role="form" name="form1" >
		<div class="form-group row ">
			<label for="empId" class="col-2">Name : </label>
			<div class="col-3" >
				<select  id="empId" th:field="*{empId}">
					<option value=""></option>
					<option th:each="employee : ${employeeList}" th:value="${employee.empId}" th:text="${employee.firstName}+' '+${employee.lastName}">AAA</option>
				</select>
			</div>
			<div class="col-2">
				<button class="btn-lg btn-success" type="submit">Search !    <i class="	glyphicon glyphicon-search"></i> </button>
			</div>
		</div>
			<div class="form-group row">
				<label for="periodFrom" class="col-2 col-form-label">Period From : </label>
				<div class="col-3" >
					<div class="input-group date ">
						<input type="text" class="form-control-lg" id="periodFrom" th:field="*{periodFrom}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>
				<label for="periodUntil" class="col-1 col-form-label">Until : </label>
				<div class="col-3" >
					<div class="input-group date">
						<input class="form-control-lg" type="text" id="periodUntil" th:field="*{periodUntil}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>
			</div>
		</form>
	</header>
	<div class="container">
		<!-- Content -->
		<section id="content">
			<table id = "leaveHistoryTable" >
				<thead class="fcWhite baseBgcolor fwNomal">
				<tr>
					<th th:text="'No'">No</th>
					<th th:text="'Name'">Name</th>
					<th th:text="'Time'">Time</th>
					<th th:text="'Type'">Type</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="leaveHistory,index : ${leaveHistoryList}" th:action="@{/leaveHistory/edit}" th:attr="leaveId=${leaveHistory.leaveId}">
					<td th:text="${index.count}">No</td>
					<td th:text="${leaveHistory.employee.firstName} + ' ' + ${leaveHistory.employee.lastName}">Thymus Thymi</td>
					<td th:text="${#dates.format(leaveHistory.periodFrom, 'yyyy/MM/dd')}+' - '+${#dates.format(leaveHistory.periodUntil, 'yyyy/MM/dd')}">12</td>
					<td th:text="${leaveHistory.leaveType.categoryName}">32</td>
				    <td>
						<a th:href="'/leaveHistory/edit/' + ${leaveHistory.leaveId}" class="btn-sm btn-info" role="button" >
							Edit<i class="glyphicon glyphicon-pencil"></i></a>
						<a th:href="'/leaveHistory/delete/' + ${leaveHistory.leaveId}" class="btn-sm btn-danger" role="button" >
							Delete<i class="glyphicon glyphicon-remove-circle"></i></a>
						<a th:href="'/leaveHistory/exportPdf/' + ${leaveHistory.leaveId}" class="btn-sm btn-info" role="button" >
							Download</a>
					</td>
				</tr>
				</tbody>
			</table>
		</section>
	</div>
</section>
<!-- Footer -->
<footer id="footer">
	<span class="copyright">
			Try for LEARN!!!</span>
</footer>
<script type="text/javascript">
    $('#leaveHistoryTable tbody tr').dblclick(function(e){
        var index = $(this).attr('leaveId');
        window.location.href = "/leaveHistory/detail/" + index;
    });
</script>
</body>
</html>