<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <js th:include="common/js :: js"></js>
    <link rel="stylesheet" type="text/css" href="css/style-xlarge.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
    <css th:include="common/css :: css"></css>
</head>
<style>
 input[type=text] {
 background-color: #ffff99;
 }
 input[type=password] {
 background-color: #ffff99;
 }
 </style>
<body>
<header th:include="common/header :: header('Head')"></header>
<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Create Annual Leave</h2>
    </header>
    <div class="container">
        <!-- Content -->
        <section id="content">
            <form th:action="@{/holidayLeave/create}" th:object="${holidayLeaveCreateForm}" method="post" class="form-horizontal form-width120 ml15" role="form" name="form1">
                <div class="form-group row" >
                <label for="holidayDate" class="col-2 col-form-label">Date : </label>
                <div class="col-4" >
                    <div class="input-group date ">
                        <input type="text" class="form-control-lg" id="holidayDate" th:field="*{holidayDate}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                </div>
                <div class="form-group row" >
                    <label for="holidayDetail" class="col-2 ">Detail: </label>
                    <div class="col-4">
                        <input  class="form-control-lg" id="holidayDetail" th:field="*{holidayDetail}"  type="text"  />
                    </div>
                </div>
                <button type="submit" class="btn-success">Create!</button>
            </form>
        </section>
    </div>
</section>
<!-- Footer -->
<footer id="footer">
	<span class="copyright">
	 ||||||||||| Leave Management System |||||||||||  </span>
</footer>
</body>
</html>